{{!-- <div class="container">
    <h1>About Us</h1>
    <p>Car Rental service is specialized to help people to list their car to make extra money while they do not use
        their car and to rent a car when they need to drive.</p>
    <p>If you need a question, feel free to contact us bu clicking link below</p>
    <a href="/contact">Contact us</a>
    <small>All rights reserved. Copyright &copy 2020</small>
</div> --}}
<section class="breadcrumbs-section">
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ol>
            </div>
        </div>
    </div>

</section>

<section class="about-company-section">
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2>About TMZ</h2>

            </div>

            <div class="col-md-3">
                <img class="img-fluid" src="/image/logo.png" alt="">

            </div>

            <div class="col-md-9">
                <p>
                    TMZ Car Rentals is a constantly growing car rental brand, which has as priority to provide
                    quality services at affordable rates and flexible terms and conditions, combined with real 24 hours
                    support. This has established us as one of the most competitive companies in the market. We are very
                    clear on the terms and conditions of our rentals, with no hidden costs and many offers for our loyal
                    customers and cooperators.
                </p>
                <p>
                    Our fleet is consisted of a variety of car groups, serving all requirements and needs. Our personnel
                    are very well trained, always willing to go the extra mile in order to help our customers to feel
                    like home! We pay great attention to our after sales service, by investing on our customer care
                    department and the so called “repeaters”. Our vision is to become one of the world leaders in the
                    rent a car industry and we are fighting towards this mission with honesty, consciousness,
                    professionalism and very hard work.
                </p>

            </div>
        </div>
    </div>
</section>

<!-- START :  Home page 6th section - Our services -->
<section class="pt-3 pb-4">
    <div class="container">
        <div class="row mt-4">
            <div class="col text-center">
                <h3>
                    Our awesome team
                </h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-4" src="image/team/CEO.png">
                <h5>
                    CEO
                </h5>
                <p>
                    <i>- Tarek Mohamed</i>
                </p>

            </div>
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-4" src="image/team/senior-analyst.png">
                <h5>
                    Senior Business Analyst
                </h5>
                <p>
                    <i>- Zeyad Yasser</i>
                </p>

            </div>
            <div class="col-md-4 text-center">

                <img class="img-fluid qualities-img p-4" src="image/team/hr.png">
                <h5>
                    Senior HR
                </h5>
                <p>
                    <i>- Mohamed Hesham</i>
                </p>
            </div>
        </div>

        <div class="row mb-md-3">
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-4" src="image/team/java-developer.png">
                <h5>
                    Java Developer
                </h5>
                <p>
                    <i>- Tarek Mohamed</i>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-4" src="image/team/sales-head.png">
                <h5>
                    Sales Head
                </h5>
                <p>
                    <i>- Mohamed Hesham</i>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-4" src="image/team/intern.png">
                <h5>
                    Office Boy
                </h5>
                <p>
                    <i>- Mohamed Kamel</i>
                </p>
            </div>
        </div>
</section>
<!-- END : Home page 6th section - Our services -->

<!-- START :  Home page 7th section - clients -->
<section class="pt-3 pb-4 clients-section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3>
                    Some of our trusted clients.
                </h3>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-md-2 col-6">
                <img class="img-fluid feature-img p-2" src="image/clients/toyota.png" alt="Card image cap">
            </div>
            <div class="col-md-2 col-6">
                <img class="img-fluid feature-img p-2" src="image/clients/range.png" alt="Card image cap">
            </div>
            <div class="col-md-2 col-6">
                <img class="img-fluid feature-img p-2" src="image/clients/mercedes.png" alt="Card image cap">
            </div>
            <div class="col-md-2 col-6">
                <img class="img-fluid feature-img p-2" src="image/clients/huyndai.jpg" alt="Card image cap">
            </div>
            <div class="col-md-2 col-6">
                <img class="img-fluid feature-img p-2" src="image/clients/fiat.jpg" alt="Card image cap">
            </div>
            <div class="col-md-2 col-6">
                <img class="img-fluid feature-img p-2" src="image/clients/ferrari.png" alt="Card image cap">
            </div>
        </div>



</section>
<!-- END : Home page 7th section - clients -->