<!DOCTYPE html>
<html>

<head>
    <title>Add Map</title>
    <script></script>
    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
    <script>
        $(document).ready(        // Initialize and add the map
            function initMap() {
                // The location of Uluru
                const EGY = { lat: 30.0444, lng: 31.2357 };
                // The map, centered at Uluru
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 8,
                    center: EGY,
                });
                // load socket
                var socket = io();
                socket.on('allcars', function (cars) {
                    console.log('AllCars', cars);
                    for (var i = 0; i < cars.cars.length; i++) {
                        console.log(cars.cars[i]);
                        // The marker, positioned at Egy
                        function addMarker() {
                            const marker = new google.maps.Marker({
                                position: {
                                    lat: cars.cars[i].coords.lat,
                                    lng: cars.cars[i].coords.lng

                                },
                                map: map
                            });
                            //create info windo
                            var infoWindow = new google.maps.InfoWindow({
                                content: `<a href="/displayCar/${cars.cars[i]._id}">
                                <h3>${cars.cars[i].make}</h3>
                                <b>Model: </b><p>${cars.cars[i].model},<b>Year: </b> ${cars.cars[i].year}</p>
                                <p>$${cars.cars[i].pricePerHour} per hours</p>
                                <p>$${cars.cars[i].pricePerWeek} per week</p>   
                                <img src="${cars.cars[i].picture}" width = "100px">

                                </a>`
                            });

                            marker.addListener('click', function () {
                                infoWindow.open(map, marker);
                            });
                        }
                        addMarker();
                    }
                });

            })
    </script>
</head>

<body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
</body>

</html>
